version: '3.9'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
  client:
    image: python:3.12-slim
    working_dir: /app
    volumes:
      - .:/app
    command: >
      sh -c "pip install streamlit && streamlit run client.py --server.port 8501 --server.address 0.0.0.0"
    ports:
      - "8501:8501"
    depends_on:
      - app

  redis:
    image: redis:7
    ports:
      - "6379:6379"
